[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
.vs/
.idea/
/src/NGrib/nuget/*.log
/src/NGrib/nuget/20250313-165204.log
/src/NGrib/nuget/20250313-165310.log
